<% layout('/layouts/boilerplate') %>

<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h3>Edit the Listing</h3>
      <form action="/listings/<%= result._id %>?_method=PUT" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
        
        <!-- Title Field -->
        <div class="form-group">
          <label for="title" class="form-label">Title</label>
          <input type="text" id="title" name="title" value="<%= result.title %>" class="form-control border-dark" required>
          <div class="valid-feedback">Title Looks good!</div>
          <div class="invalid-feedback">Please provide a valid title.</div>
        </div>

        <!-- Description Field -->
        <div class="form-group">
          <label for="description" class="form-label">Description</label>
          <textarea required id="description" name="description" class="form-control border-dark" rows="4" cols="8"><%= result.description %></textarea>
          <div class="valid-feedback">Description Looks good!</div>
          <div class="invalid-feedback">Please write a description.</div>
        </div>

        <!-- Cost and Country Fields -->
        <div class="d-flex gap-2 mb-2">
          <div class="form-group col-md-4">
            <label for="cost" class="form-label">Cost</label>
            <input type="number" id="cost" name="cost" value="<%= result.price %>" class="form-control border-dark" min="0" required>
            <div class="invalid-feedback">Please provide a valid cost.</div>
          </div>
          <div class="form-group col-md-8">
            <label for="country" class="form-label">Enter the country</label>
            <input type="text" id="country" name="country" value="<%= result.country %>" class="form-control border-dark country" required>
            <div class="invalid-feedback">Please enter a valid country.</div>
          </div>
        </div>

        <!-- Location Field -->
        <div class="form-group">
          <label for="location" class="form-label">Enter the location</label>
          <input type="text" id="location" name="location" value="<%= result.location %>" class="form-control border-dark" required>
          <div class="invalid-feedback">Please provide a valid location</div>
        </div>

        <!-- Image Upload Field -->
        <div class="form-group">
          <label for="image" class="form-label">Add new images</label>
          <input type="file" id="image" name="image" class="form-control border-dark" multiple>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary border-dark">Submit</button>
        
      </form>
      
    </div>
  </div>
</body>